apscheduler==3.*
black==19.10b0
celery==4.3.0
flake8==3.7.9
flask==1.*
flask_oauthlib==0.9.5
git+git://github.com/uktrade/flask-authbroker-client
gunicorn==19.*
mohawk==1.*
numpy==1.*
pandas==0.*
psycopg2==2.*
pytest-cov==2.8.1
pytest==5.3.1
python-decouple==3.*
redis==3.3.11
requests-oauthlib==0.6.2
