argh
black
codecov
git+https://github.com/uktrade/data-engineering-common.git
flake8-import-order
flake8
flask-security-too
flask-shell-ipython
flask-sqlalchemy
flask
freezegun
fuzzywuzzy
python-Levenshtein
gunicorn
json_log_formatter
mohawk
numpy
pandas
psycopg2
pycountry
pytest-cov
pytest-mock
pytest
python-dotenv
pyyaml
redis
requests-oauthlib
spacy
sqlalchemy-utils
sqlalchemy
toolz
watchdog
werkzeug
