<html>
  <head>
    <title>Countries of interest</title>
  </head>
  <body>
    <h1>Countries of Interest</h1>
    <p></p>

    <h2>API</h2>
    
    <h3>
      <code>
	/get-companies-affected-by-trade-barrier/&ltcountry&gt/&ltsector&gt
      </code>
    </h3>
    <p>Returns a list of companies which are affected by a specified country and sector. Countries are specified using the ISO Alpha-2 codes which can be found <a href="https://www.iso.org/obp/ui/#search/code/">here</a> and sector segments can be found <a href="/get-sector-segments">here</a>.</p>

    <p>e.g. <a href="/get-companies-affected-by-trade-barrier/AF/Advanced%20Engineering">/get-companies-affected-by-trade-barrier/AF/Advanced%20Engineering</a></p>

    <h3>
      <code>
	/get-companies-house-company-numbers
      </code>
    </h3>

    <p>.e.g
      <a href="/get-companies-house-company-numbers">/get-companies-house-company-numbers</a>
    </p>

    <h3>
      <code>
	/get-company-countries-and-sectors-of-interest
      </code>
    </h3>
    <p>Returns a list of company - country and sector of interest relationships for companies stored in Datahub. These companies have expressed interest in the country-sector combination.</p>
    <p>.e.g <a href="/get-company-countries-and-sectors-of-interest">/get-company-countries-sectors-of-interest</a></p>

    <h3>
      <code>
	/get-company-countries-of-interest
      </code>
    </h3>
    <p>Returns a list of company - country of interest relationships for companies stored in Datahub.</p>
    <p>.e.g <a href="/get-company-countries-of-interest">/get-company-countries-of-interest</a></p>

    <h3>
      <code>
	/get-company-export-countries
      </code>
    </h3>
    <p>Returns a list of company-country export relationships for companies stored in Datahub.</p>
    <p>.e.g <a href="/get-company-export-countries">/get-company-export-countries</a></p>

    <h3>
      <code>
	/get-datahub-company-ids
      </code>
    </h3>

    <p>.e.g <a href="/get-datahub-company-ids">/get-datahub-company-ids</a></p>

    <h3>
      <code>
	/get-datahub-company-ids-to-companies-house-company-numbers
      </code>
    </h3>

    <p>.e.g
      <a href="/get-datahub-company-ids-to-companies-house-company-numbers">
	/get-datahub-company-ids-to-companies-house-company-numbers
      </a>
    </p>

    <h3>
      <code>
	/get-sector-segments
      </code>
    </h3>

    <p>.e.g <a href="/get-sector-segments">/get-sector-segments</a></p>
      
  </body>
</html>
