<html>
  <head>
    <title>Countries of interest</title>
    <script src={{ url_for('static', filename='dist/vendors.bundle.js') }}></script>
    <link rel="shortcut icon" href={{ url_for('static', filename="favicon-16x16.png") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css') }}>    
  </head>
  
  <body>
    <div class="container">
      <h1>Countries of Interest</h1>

      <h2>API</h2>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-companies-house-company-numbers
	  </code>
	</h3>

	<p>.e.g
	  <a href="/api/v1/get-companies-house-company-numbers">/api/v1/get-companies-house-company-numbers</a>
	</p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-company-countries-and-sectors-of-interest
	  </code>
	</h3>
	<p>Returns a list of company - country and sector of interest relationships for companies stored in Datahub. These companies have expressed interest in the country-sector combination. You can use the <code>country</code>, <code>sector</code> and <code>source</code> arguments to filter on country, sector and data source.</p>
	<p>e.g.</p>
	<ul>
	  <li><a href="/api/v1/get-company-countries-and-sectors-of-interest">/api/v1/get-company-countries-sectors-of-interest</a></li>
	  <li><a href="/api/v1/get-company-countries-and-sectors-of-interest?country=CN">/api/v1/get-company-countries-sectors-of-interest?country=CN</a></li>
	  <li><a href="/api/v1/get-company-countries-and-sectors-of-interest?sector=Aerospace">/api/v1/get-company-countries-sectors-of-interest?sector=Aerospace</a></li>
	  <li><a href="/api/v1/get-company-countries-and-sectors-of-interest?source=omis">/api/v1/get-company-countries-sectors-of-interest?source=omis</a></li>
	  <li><a href="/api/v1/get-company-countries-and-sectors-of-interest?country=CN&sector=Aerospace">/api/v1/get-company-countries-sectors-of-interest?country=CN&ampsector=Aerospace</a></li>
	  <li><a href="/api/v1/get-company-countries-and-sectors-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae">/api/v1/get-company-countries-sectors-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae</a></li>
	</ul>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-company-countries-of-interest
	  </code>
	</h3>
	<p>Returns a list of company - country of interest relationships for companies stored in Datahub.</p>
	<p>e.g.</p>
	<ul>
	  <li><a href="/api/v1/get-company-countries-of-interest">/api/v1/get-company-countries-of-interest</a></li>
	  <li><a href="/api/v1/get-company-countries-of-interest?country=CN">/api/v1/get-company-countries-of-interest?country=CN</a></li>
	  <li><a href="/api/v1/get-company-countries-of-interest?source=omis">/api/v1/get-company-countries-of-interest?source=omis</a></li>
	  <li><a href="/api/v1/get-company-countries-of-interest?country=CN&source=omis">/api/v1/get-company-countries-of-interest?country=CN&ampsource=omis</a></li>
	  <li><a href="/api/v1/get-company-countries-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae">/api/v1/get-company-countries-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae</a></li>
	</ul>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-company-export-countries
	  </code>
	</h3>
	<p>Returns a list of company-country export relationships for companies stored in Datahub.</p>
	<p>e.g.</p>
	<ul>
	  <li><a href="/api/v1/get-company-export-countries">/api/v1/get-company-export-countries</a></li>
	  <li><a href="/api/v1/get-company-export-countries?country=US">/api/v1/get-company-export-countries?country=CN</a></li>
	  <li><a href="/api/v1/get-company-export-countries?source=datahub_export_countries">/api/v1/get-company-export-countries?source=datahub_export_countries</a></li>
	  <li><a href="/api/v1/get-company-export-countries?country=MY&source=datahub_export_countries">/api/v1/get-company-export-countries?country=MY&ampsource=datahub_export_countries</a></li>
	  <li><a href="/api/v1/get-company-export-countries?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae">/api/v1/get-company-countries-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae</a></li>
	</ul>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-company-sectors-of-interest
	  </code>
	</h3>
	<p>Returns a list of company-sector of interest relationships.</p>
	<p>e.g.</p>
	<ul>
	  <li><a href="/api/v1/get-company-sectors-of-interest">/api/v1/get-company-sectors-of-interest</a></li>
	  <li><a href="/api/v1/get-company-sectors-of-interest?sector=Food">/api/v1/get-company-sectors-of-interest?sector=Food</a></li>
	  <li><a href="/api/v1/get-company-sectors-of-interest?source=omis">/api/v1/get-company-sectors-of-interest?source=omis</a></li>
	  <li><a href="/api/v1/get-company-sectors-of-interest?sector=Aerospace&source=omis">/api/v1/get-company-sectors-of-interest?sector=Aerospace&ampsource=omis</a></li>
	  <li><a href="/api/v1/get-company-sectors-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae">/api/v1/get-company-sectors-of-interest?company-id=d0af8e52-ff34-4088-98e3-d2d22cd250ae</a></li>
	</ul>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-datahub-company-ids
	  </code>
	</h3>

	<p>.e.g <a href="/api/v1/get-datahub-company-ids">/api/v1/get-datahub-company-ids</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-datahub-company-ids-to-companies-house-company-numbers
	  </code>
	</h3>

	<p>.e.g
	  <a href="/api/v1/get-datahub-company-ids-to-companies-house-company-numbers">
	    /api/v1/get-datahub-company-ids-to-companies-house-company-numbers
	  </a>
	</p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/v1/get-sectors
	  </code>
	</h3>

	<p>.e.g <a href="/api/v1/get-sectors">/api/v1/get-sectors</a></p>
      </div>

      <h2>Data Report</h2>
      <p><a href="/data-report">/data-report</a></p>
      
    </div> <!-- container -->
  </body>
</html>
