<html>
  <head>
    <title>Countries of interest</title>
    <script src={{ url_for('static', filename='dist/vendors.bundle.js') }}></script>
    <link rel="shortcut icon" href={{ url_for('static', filename="favicon-16x16.png") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css') }}>    
  </head>
  
  <body>
    <div class="container">
      <h1>Countries of Interest</h1>
      <h2>Data Report</h2>
      <p><a href="/data-report">/data-report</a></p>

      <h2>API</h2>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-companies-affected-by-trade-barrier/&ltcountry&gt/&ltsector&gt
	  </code>
	</h3>
	<p>Returns a list of companies which are affected by a specified country and sector. Countries are specified using the ISO Alpha-2 codes which can be found <a href="https://www.iso.org/obp/ui/#search/code/">here</a> and sector segments can be found <a href="/api/get-sectors">here</a>.</p>
	
	<p>e.g. <a href="/api/get-companies-affected-by-trade-barrier/AF/Advanced%20Engineering">/api/get-companies-affected-by-trade-barrier/AF/Advanced%20Engineering</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-companies-house-company-numbers
	  </code>
	</h3>

	<p>.e.g
	  <a href="/api/get-companies-house-company-numbers">/api/get-companies-house-company-numbers</a>
	</p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-company-countries-and-sectors-of-interest
	  </code>
	</h3>
	<p>Returns a list of company - country and sector of interest relationships for companies stored in Datahub. These companies have expressed interest in the country-sector combination.</p>
	<p>.e.g <a href="/api/get-company-countries-and-sectors-of-interest">/api/get-company-countries-sectors-of-interest</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-company-countries-of-interest
	  </code>
	</h3>
	<p>Returns a list of company - country of interest relationships for companies stored in Datahub.</p>
	<p>.e.g <a href="/api/get-company-countries-of-interest">/api/get-company-countries-of-interest</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-company-export-countries
	  </code>
	</h3>
	<p>Returns a list of company-country export relationships for companies stored in Datahub.</p>
	<p>.e.g <a href="/api/get-company-export-countries">/api/get-company-export-countries</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-company-sectors-of-interest
	  </code>
	</h3>
	<p>Returns a list of company-sector of interest relationships.</p>
	<p>.e.g <a href="/api/get-company-sectors-of-interest">/api/get-company-sectors-of-interest</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-datahub-company-ids
	  </code>
	</h3>

	<p>.e.g <a href="/api/get-datahub-company-ids">/api/get-datahub-company-ids</a></p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-datahub-company-ids-to-companies-house-company-numbers
	  </code>
	</h3>

	<p>.e.g
	  <a href="/api/get-datahub-company-ids-to-companies-house-company-numbers">
	    /api/get-datahub-company-ids-to-companies-house-company-numbers
	  </a>
	</p>
      </div>

      <div class="api-description">
	<h3>
	  <code>
	    /api/get-sectors
	  </code>
	</h3>

	<p>.e.g <a href="/api/get-sectors">/api/get-sectors</a></p>
      </div>
      
    </div> <!-- container -->
  </body>
</html>
